@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lima Rooms</h1>
    <p class="lead">Bienvenido a Lima Rooms, la pagina donde podras visualizar y editar los detalles de tu inmobiliaria</p>
    
</div>

